.home-container {
  display: flex;
  height: 100vh;
  overflow: hidden; 
}

.main {
  display: grid;
  width: 100%;
}

.products-container {
  width: 100%;  
  box-sizing: border-box;
  overflow: visible;
  overflow-y: auto; 
  display: flex;
}


nav {
  flex: 0 0 315px;
  height: auto;
  padding: 20px;
  background-color: rgb(143, 106, 140);
  box-sizing: border-box;
  flex-direction: column;
  overflow-y: auto;
  border-right: 2px solid rgb(28, 6, 49);
}

li {
  margin: 10px;
}

nav input {
  width: 90%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid rgb(28, 6, 49);
  border-radius: 5px;
  outline: none;
}

nav button {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  background-color: rgb(64, 26, 100);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

nav button:hover {
  background-color: rgb(162, 180, 163);
}

li a {
  text-decoration: none;
  color: rgb(28, 6, 49);
  font-weight: bold;
  transition: color 0.3s ease-in-out;
}

li a:hover {
  color: white;
}

nav select {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid rgb(28, 6, 49);
  border-radius: 5px;
  outline: none;
}

select {
  width: 200px;
  margin: 10px;
}
input {
  width: 400px;
  margin: 10px;
}

button {
  width: 100px;
  margin: 10px;
}


.form {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 65%;
}

.form-desc {
  margin-right: 20px;
  text-align: right;
}


.empty-products {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 120px;
  background-color: #f0f0f0; 
  border-radius: 10px; 
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
  animation: fadeIn 0.5s ease-in-out; 
  font-size: 18px;
  color: #555;
  transform: translateX(50%);
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.cart {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  background-color: rgb(107, 146, 92);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
